<%- include("../partials/header.ejs") %>
<div class="container">
    <div class="jumbotron">
        <h1>Products</h1>
        <p class="lead">Buy or Sell any products you like</p>
        <a class="btn btn-info" href="/products/new">Add New Product</a>
        <!-- <form class="form-inline mt-3 " action="/products/" method="GET">
            <div class="form-group mr-sm-3">
                <label for="search" class="sr-only">Search</label>
                <input type="text" class="form-control" id="search" name="search" placeholder="Search products...">
            </div>
            <button type="submit" class="btn btn-success ">Search</button>
        </form> -->
    </div>
    <div class="row mt-5  ">
        <%=currentUser%>
        <% products.forEach(function(elt){ %>
            <div class="col-lg-4 col-xl-3 col-sm-6 col-12" >
                <div class="card mb-2">
                    <img class="card-img-top img-width" src="<%= elt['image'] %>" alt="Card image cap">
                    <div class="card-body p-0 text-center pt-1">
                        <h5 class="card-title mb-0 mt-2 heading"><%= elt['name'] %></h5>
                        <a href="/campgrounds/<%=elt._id%>" class="btn btn-outline-danger my-2">Read More</a>
                    </div>
                </div>
            </div>
        <% }) %>
    </div>
</div>

<%- include("../partials/footer.ejs") %>